[Unit]
Description=Usb modem auto connection timer

[Timer]
# Time to wait after booting before we run first time
OnBootSec=15
# Time between running each consecutive time
#OnUnitActiveSec=1h
Unit=tedmon_modem_autoconnect.service

[Install]
WantedBy=multi-user.target
